


.nav 
{
    background-color: rgb(32, 32, 32);
}

a {
   
    margin-left: 200px;
    
}

.contact {
    margin-right: 200px;
    
    
}




.des {
    font-size: small;
}

.card-group {
    
    justify-content: center;
}

.container {
    width: 50%;
    justify-content: center;
    
}

.prev {
    border-color: deepskyblue;
    border-radius: 5px;
    margin-left: 50px;
}

.site {
    margin-right: 50px;
    border-radius: 5px;
}


button {
    justify-content: center;
}








